{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

<div class="container-fixed container-fullpage">
<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="container-fluid container-empty-padding"></div>
        <div class="container-fluid container-posts">
                {% for post in posts %}
                {% include '_post.html' %}
                {% endfor %}
            </div>
        <div class="container-fluid container-pager">
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ page_first or '#' }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ page_last or '#' }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="container-fluid container-tags">
            <h3>Categories</h3>
            {% for t in tags %}
            <ul class="list list-inline list-tags">
                <a href="/categories/{{t.name}}" class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-tag"></span> {{t.name}} ({{t.count}})
                </a>
                </ul>
            {% endfor %}  
            </ul>       
        </div>
    </div>
  </div>
</div>  
{% endblock %}



